.Nav_bar{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    
}
.Netflix_logo{
    width:110px;
    object-fit: contain;
    padding: 11px;
   
}
.Netflix_avatar{
    width:36px;
    height:36px;
    object-fit: contain;
    padding: 12px;
}

.nav_black{
    background-color: #111;
}