.row{
    margin-left: 18px;
    margin-top: 35px;
}
 .row h2{
color: white;
/* margin-left: 12px; */
} 
.row_movie{
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    transition: transform 400ms;
    margin-right: 12px;
}
.row_movie:hover{
    transform: scale(1.08);
}
.row_movies{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 12px;
}
.row_movies::-webkit-scrollbar{
    display: none;
}

.row_larger{
    max-height: 260px;
}